/* Basic jQuery Slider essential styles */

ul.bjqs1{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs1-slide{display:none;position:absolute;}

ul.bjqs1-controls{list-style:none;margin:0;padding:0;z-index:9999;}

p.bjqs1-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* demo styles */

body{
  font-family: 'Carter One', sans-serif;
}

#banner1 {
  height:400px;
  width:950px;
  margin:0 auto;
  position:relative;
  /*background:#ffffff;*/
}

 ul.bjqs1-controls li a{
  display:block;
  padding:5px 10px;
  position:absolute;
  /*background:#ffffff;*/
  color:#fd0100;
  text-decoration:none;
  text-transform:uppercase;
}



#banner1 ul li
{
margin-top:82px;
}
